/* imagen de fondo */
.body {
  min-height: 100vh;
  background-image: url("./img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.main {
  /* Contenedor Form suscribite */ }
  .main__content {
    /* Titulo */
    /* Contenedor video  */ }
    .main__content__tittle {
      font-family: 'Anton', sans-serif;
      font-size: 4rem;
      font-weight: 200;
      letter-spacing: 0.5rem;
      color: white;
      text-align: center;
      margin: 3%;
      opacity: 0;
      animation: titulo 5s 1s 1 forwards; }
    .main__contentvid {
      width: fit-content;
      margin: auto;
      position: relative;
      left: -100%;
      animation: video_translate 0.8s 1s 1 forwards;
      /* Video Main */ }
      .main__contentvid iframe {
        width: 60vw;
        height: 40vw; }
  .main__form {
    background-color: rgba(255, 255, 255, 0.15);
    height: fit-content;
    text-align: center;
    padding-bottom: 1%;
    margin: 2rem 0; }
    .main__form__txt {
      display: inline-block;
      font-family: 'Anton', sans-serif;
      font-size: 2.5rem;
      font-weight: 200;
      letter-spacing: 3px;
      color: white;
      text-shadow: 5px 5px 10px black;
      margin: 2%;
      animation: suscribite_anim 1s infinite alternate; }

@keyframes titulo {
  100% {
    opacity: 1; } }

@keyframes video_translate {
  100% {
    left: 0%; } }

@keyframes suscribite_anim {
  100% {
    transform: scale(1.1); } }
