@keyframes titulo {
    100%{
        opacity: 1;
    }
    
}

@keyframes video_translate {
    100%{
        left: 0%;
    }
    
}

@keyframes suscribite_anim {
    100%{
        transform: scale(1.1);
    }
    
}