.main__artist{
    display: flex;
    flex-direction: column;
}

.band__rrss{ 
    display: flex;
    height: fit-content;

    justify-content: space-evenly;
    padding: 0 20%;

    &__item{
        list-style: none;
    }

    &__icon{
        width: 1.5rem;
    }
}