.cont{
    &__form{ /* Contenedor Formulario */
        @extend %dp-flex-jc-center;
        background-color: $bannerBg-color;
        
        align-items: center;
        width: 50%;
        margin: 30px auto;
        border-radius: 10px;

        &__div{ /* Contenedor Checkbox */
            display: flex;
            flex-direction: row;

        }

        &__label{
            @include fontFamilySize($secondFont,1.5rem);   
            color: rgb(255, 255, 255);
            margin: 0 0.5rem;
        }
    }
}