.main{
    &__content{
        
        &__tittle{/* Titulo */
            @include fontFamilySize($tittleFont,2.5rem);                    
            font-weight: 200;
            letter-spacing: 0.5rem;
            color: white;
            text-align: center;
            margin: 3%;
            opacity: 0;
            animation: titulo 5s 1s 1 forwards;
        }
        
        &__vid{/* Contenedor video  */
            width: fit-content;
            margin: auto;
            position: relative;
            left: -100%;
            animation: video_translate 0.8s 1s 1 forwards;
                
                iframe{/* Video Main */
                    width: 60vw;
                    height: 40vw;
                }
            }
        }
        
        &__form{/* Contenedor Form suscribite */
            background-color: $bannerBg-color;
            height: fit-content;
            text-align: center;
            padding-bottom: 1%;
            margin: 2rem 0;
            
            &__txt{/* Texto Suscribite */
                display: inline-block;
                @include fontFamilySize($tittleFont,2.5rem);                  
                font-weight: 200;
                letter-spacing: 1px;
                color: white;
                text-shadow: 5px 5px 10px black;
                animation: suscribite_anim 1s infinite alternate;
            }
        }
    }
