$bg-color: rgb(61, 61, 61);
$bannerBg-color: rgba(255, 255, 255, 0.767);
$tittleFont: 'Anton', sans-serif;
$secondFont: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

